Repository michaelayoade/isp-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

typescript-check:
  name: typescript-check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

fix: Resolve billing integration issues in reseller service
  backend/app/constants/tags.py
  backend/app/services/reseller.py
  backend/app/services/reseller_helpers.py
Due: none

fix: Normalize OpenAPI tags to resolve Swagger UI duplicates
  backend/app/api/endpoints/plugins.py
  backend/app/api/v1/endpoints/api_management.py
  backend/app/api/v1/endpoints/automation.py
  backend/app/api/v1/endpoints/billing.py
  backend/app/api/v1/endpoints/device_management.py
  backend/app/api/v1/endpoints/network_modular.py
  backend/app/api/v1/endpoints/reseller.py
Due: none

fix: Resolve CI/CD pipeline failures
  .github/workflows/ci.yml
  .github/workflows/code-quality-audit.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
  backend/requirements-dev.txt
  frontend/package.json
Due: prettier

fix: Update deprecated GitHub Actions to latest versions
  .github/workflows/ci.yml
  .github/workflows/code-quality-audit.yml
Due: none

fix: Resolve dependency conflicts in requirements-dev.txt
  backend/requirements-dev.txt
Due: none

fix: Resolve PostgreSQL health check Docker container errors
  .github/workflows/ci.yml
  .github/workflows/code-quality-audit.yml
  .github/workflows/tests.yml
Due: none

feat: Implement comprehensive Git strategy and automation
  .github/CODEOWNERS
  .github/workflows/release.yml
  CONTRIBUTING.md
  scripts/setup-branch-protection.sh
  scripts/setup-git-hooks.sh
Due: none

fix(frontend): resolve React 19 dependency conflict with testing library
  frontend/package.json
Due: prettier

chore(frontend): fix package.json brace error and pin @testing-library/react to 14.3.1
  frontend/package.json
Due: prettier

test(frontend): exclude Playwright e2e specs from Jest run
  frontend/jest.config.js
Due: eslint, prettier

chore(frontend): add regenerated package-lock.json aligned with React 18
  frontend/package-lock.json
Due: prettier

chore(frontend): apply npm audit fixes and update MSW to v2
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
Due: eslint, prettier

feat(frontend): complete MSW v2 migration with environment variable control
  frontend/jest.config.js
  frontend/src/__mocks__/browser.ts
  frontend/src/__mocks__/handlers/billing.ts
  frontend/src/__mocks__/handlers/customers.ts
  frontend/src/__mocks__/server.ts
  frontend/src/features/billing/hooks/__tests__/useBilling.test.tsx
  frontend/src/setupTests.ts
Due: eslint, prettier, typescript-check

fix(api): replace deprecated BaseSchema with BaseModel in all schemas
  backend/app/schemas/auth.py
  backend/app/schemas/billing.py
  backend/app/schemas/billing_enhanced.py
  backend/app/schemas/billing_type.py
  backend/app/schemas/customer.py
  backend/app/schemas/customer_extended.py
  backend/app/schemas/customer_service.py
  backend/app/schemas/customer_status.py
  backend/app/schemas/network_modular.py
  backend/app/schemas/oauth.py
  backend/app/schemas/radius.py
  backend/app/schemas/radius_integration.py
  backend/app/schemas/rbac.py
  backend/app/schemas/reseller.py
  backend/app/schemas/service_management.py
  backend/app/schemas/service_plan.py
  backend/app/schemas/service_type.py
  backend/app/schemas/services.py
  backend/app/schemas/tariff.py
  backend/app/schemas/ticket_status.py
  backend/app/schemas/two_factor.py
Due: none

fix: resolve security vulnerabilities and GitHub Actions workflow issues
  .github/workflows/ci.yml
  .github/workflows/release.yml
  backend/app/models/settings.py
  backend/app/services/communications_service.py
  backend/requirements.txt
Due: none

fix: resolve TOML syntax error in pyproject.toml
  pyproject.toml
Due: none

fix: resolve Ruff TOML configuration parsing error
  pyproject.toml
Due: none

fix: resolve SQLAlchemy relationship issues and complete migration squash
  backend/alembic/versions/20250731_squashed_baseline.py
  backend/alembic/versions/archived_migrations/0016_create_file_storage_tables.py
  backend/alembic/versions/archived_migrations/005_add_portal_id_uniqueness.py
  backend/alembic/versions/archived_migrations/005a_add_locations_table.py
  backend/alembic/versions/archived_migrations/006_add_network_infrastructure.py
  backend/alembic/versions/archived_migrations/007_add_radius_tables.py
  backend/alembic/versions/archived_migrations/008_add_radius_clients.py
  backend/alembic/versions/archived_migrations/00ba038d8a2e_create_base_tables.py
  backend/alembic/versions/archived_migrations/20250729_merge_multiple_heads.py
  backend/alembic/versions/archived_migrations/20250730_assign_default_role_permissions.py
  backend/alembic/versions/archived_migrations/20250730_create_ansible_automation.py
  backend/alembic/versions/archived_migrations/20250730_create_billing_types.py
  backend/alembic/versions/archived_migrations/20250730_create_contact_types.py
  backend/alembic/versions/archived_migrations/20250730_create_customer_statuses.py
  backend/alembic/versions/archived_migrations/20250730_create_ipoe_authentication.py
  backend/alembic/versions/archived_migrations/20250730_create_mac_authentication.py
  backend/alembic/versions/archived_migrations/20250730_create_rbac_system.py
  backend/alembic/versions/archived_migrations/20250730_create_service_types.py
  backend/alembic/versions/archived_migrations/20250730_create_ticket_statuses.py
  backend/alembic/versions/archived_migrations/20250730_fix_chart_of_accounts_constraint.py
  backend/alembic/versions/archived_migrations/2025_07_23_add_api_management.py
  backend/alembic/versions/archived_migrations/35b46255a705_add_billing_system_tables.py
  backend/alembic/versions/archived_migrations/4db3f05bfae9_add_service_management_tables.py
  backend/alembic/versions/archived_migrations/7fbe30f0c3ed_add_extended_customer_models_oauth_2fa_.py
  backend/alembic/versions/archived_migrations/9e1c7b520e78_add_comprehensive_customer_schema_with_.py
  backend/alembic/versions/archived_migrations/add_provisioning_queue_tables.py
  backend/alembic/versions/archived_migrations/add_webhook_system.py
  backend/alembic/versions/archived_migrations/create_api_management_system.py
  backend/alembic/versions/archived_migrations/create_communications_system.py
  backend/alembic/versions/archived_migrations/create_dead_letter_queue_tables.py
  backend/alembic/versions/archived_migrations/create_plugin_system_tables.py
  backend/alembic/versions/archived_migrations/create_settings_tables.py
  backend/alembic/versions/archived_migrations/create_ticketing_system.py
  backend/alembic/versions/archived_migrations/fix_radius_foreign_keys.py
  backend/alembic/versions/archived_migrations/merge_heads_20250726.py
  backend/app/models/billing/credit_notes.py
  backend/app/models/billing/invoices.py
  backend/app/models/billing/payments.py
Due: none

fix: resolve SQLAlchemy relationship issues and complete migration squash
  .github/workflows.disabled/ci.yml
  .github/workflows.disabled/release.yml
  .github/workflows.disabled/security.yml
  .github/workflows.disabled/tests.yml
  .github/workflows/code-quality-audit.yml
Due: none

feat: Complete backend operational improvements and Alembic migration system repair
  backend/alembic/env.py
  backend/app/models/__init__.py
  backend/app/models/billing/__init__.py
  backend/app/models/customer/base.py
  backend/app/models/networking/__init__.py
  backend/app/models/networking/device.py
  backend/app/models/service/__init__.py
  backend/app/models/services/__init__.py
  backend/app/models/services/instances.py
  backend/app/models/ticket/__init__.py
  backend/app/models/ticketing/tickets.py
Due: none

feat: comprehensive backend maintenance and testing infrastructure
  backend/app/api/v1/endpoints/service_instances.py
  backend/app/api/v1/endpoints/services.py
  backend/app/models/billing/billing_type.py
  backend/app/models/customer/base.py
  backend/app/services/billing_type.py
  backend/app/services/customer_status.py
  backend/app/services/service_instances_service.py
  backend/app/services/service_type.py
  backend/app/services/services.py
  backend/app/services/ticket_status.py
  backend/check_admin_credentials.py
  backend/comprehensive_fup_test_data.py
  backend/create_admin_reseller.py
  backend/create_final_fup_test_data.py
  backend/create_fup_test_data.py
  backend/create_minimal_fup_test_data.py
  backend/create_simple_fup_test_data.py
  backend/create_working_fup_test_data.py
  backend/reset_admin_password.py
  backend/tests/conftest.py
  backend/tests/test_rbac_system.py
Due: none

feat: implement comprehensive config management API
  backend/app/api/v1/api.py
  backend/app/api/v1/config_management.py
  backend/app/schemas/config_management.py
  backend/app/services/config_management.py
Due: none

Fix authentication system: JWT tokens, superuser bypass, and permission decorators
  backend/app/api/dependencies.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/automation.py
  backend/app/api/v1/endpoints/billing.py
  backend/app/api/v1/endpoints/customer_portal.py
  backend/app/api/v1/endpoints/rbac.py
  backend/app/api/v1/endpoints/services.py
  backend/app/api/v1/endpoints/ticketing.py
  backend/app/core/permissions.py
  backend/app/core/security.py
  backend/app/services/auth.py
  backend/app/services/customer_portal_service.py
  backend/app/services/rbac.py
Due: none

feat: Complete Payment Dashboard Analytics implementation
  backend/alembic/versions/archived_migrations/create_dead_letter_queue_tables.py
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/bank_accounts.py
  backend/app/api/v1/endpoints/dashboard.py
  backend/app/api/v1/endpoints/navigation.py
  backend/app/api/v1/endpoints/payment_dashboard.py
  backend/app/api/v1/endpoints/search.py
  backend/app/models/__init__.py
  backend/app/models/billing/bank_accounts.py
  backend/app/models/billing/gateways.py
  backend/app/models/billing/payments.py
  backend/app/models/dashboard/__init__.py
  backend/app/models/dashboard/dashboard_widget.py
  backend/app/models/dashboard/data_source_config.py
  backend/app/models/dashboard/metric_definition.py
  backend/app/models/dashboard/segment_definition.py
  backend/app/models/dashboard/threshold_definition.py
  backend/app/models/location.py
  backend/app/models/navigation.py
  backend/app/models/services_legacy_backup.py
  backend/app/repositories/navigation_repository.py
  backend/app/schemas/bank_account.py
  backend/app/schemas/dashboard.py
  backend/app/schemas/navigation.py
  backend/app/schemas/search.py
  backend/app/seeds/dashboard_metrics.py
  backend/app/seeds/payment_dashboard_metrics.py
  backend/app/services/bank_account_service.py
  backend/app/services/dashboard_service.py
  backend/app/services/navigation_service.py
  backend/app/services/payment_dashboard_service.py
  backend/app/services/rbac_service.py
  backend/scripts/ci_migration_check.sh
  backend/test_bank_accounts_curl.sh
  backend/test_dashboard_endpoints.sh
  seed_dashboard_data.py
  test_payment_dashboard.sh
  validate_payment_dashboard.sh
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: (?x)^(
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)|
  node_modules/.*|
  \.git/.*|
  \.venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  migrations/versions/.*\.py|
  alembic/versions/.*\.py
)$

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$, but not: (?x)^(
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)|
  node_modules/.*|
  \.git/.*|
  \.venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  migrations/versions/.*\.py|
  alembic/versions/.*\.py
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)|
  node_modules/.*|
  \.git/.*|
  \.venv/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  migrations/versions/.*\.py|
  alembic/versions/.*\.py
)$

